body {
	font-family: "Arial";
}

.main-image {
	max-width: 250px;
	border: solid black 1px;
	margin: 15px;
}

h1 {
	background-color: #e2e2e2;
	padding: 5px;
}

.section-title {
	text-transform: uppercase;
}